body {
  font-family: 'Lato', sans-serif;
  margin:1%;
}

h1{
  color:#444444;
  font-size:3rem;
}
p{
  font-size: 1.5rem;
}

.zoomlogo{
  width:100px;
}

.nav{
  border-bottom: 2px solid #EDEFEE;
  height:20px;
  margin:0px;
  padding:20px;
}

.body{
  margin: 5% 15% 15% 15%

}

.checklist{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.checklist div{
  height:80%;
  padding-right: 3%;
}

.checklist img{
  margin:0px 10px 20px 0px;
  float: left;
}
